


.contactContainer{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  border: 5px solid rgb(235, 202, 148);
  background-color: rgba(255, 255, 255, 0.739);
  margin: 5% 15%;
  align-items: flex-end;
  margin-bottom: 60px;
}
.form-content{
  display:flex;
  flex-direction:column;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  font-weight: bold;
  color:rgb(95, 95, 95);
  border-radius: 50px;
  width:100%;
}
.button {
  font-size: 1.3rem;
  margin-top: 15px;
  background-color: rgb(95, 95, 95);
  color: rgb(235, 202, 148);
  border: none;
  cursor: pointer;
  transition: .2s;
  width: 100%;
}
input {
  border:none;
  color:antiquewhite;
  height: 30px;
  border-bottom:1px solid  black;
  margin: 20px;
  box-shadow: rgb(129, 127, 127) 3px 3px;
  font-size:15px;
}
textarea{
  border:none;
  color:antiquewhite;
  height: 30px;
  border-bottom:1px solid  black;
  margin: 20px;
  box-shadow: rgb(129, 127, 127) 3px 3px;
  height:100px;
  font-size:15px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
}
.telMail{
  display: block;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .contactContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 5% 10%;
    padding-bottom: 40px;
  }
  .telMail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form{
    width: 80%;
    font-size: 20px;
  }
}

p{
  font-family: 'Crimson Pro', serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  
}

