.contactContainer{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  border: 5px solid rgb(235, 202, 148);
  background-color: rgba(255, 255, 255, 0.739);
  margin: 5% 20%;
  align-items: center;
  padding-bottom: 40px;
}
.form-content{
  display:flex;
  flex-direction:column;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  font-weight: bold;
  color:rgb(95, 95, 95);

}
.TelMail{
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  font-weight: bold;
}
.button {
  font-size: 1.3rem;
  margin-top: 15px;
  background-color: rgb(95, 95, 95);
  color: rgb(235, 202, 148);
  border: none;
  cursor: pointer;
  transition: .2s;
  width: 100%;
}