.accroche{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}

.accrocheContainer{
    display : flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-weight: bold;
    color:rgb(5, 5, 5);
    background-color:rgba(240, 248, 255, 0.705);
    margin:5% 20%
}
.accrocheMainTitle{
    display: flex;
    align-items: center;
    font-family: 'Fleur De Leah', cursive;
    font-weight: 700;
    font-size: 80px;
    text-shadow:1px 1px 2px rgb(240, 184, 116);
    margin-bottom: 20px;
}
.accrocheSubtitle{
    margin:0px 0px 66px 0px;
}
.services{
display: flex;
justify-content: space-evenly;
color: rgb(75, 64, 64);
margin-bottom:50px;
}

.accrocheArticle{
    display : flex;
    justify-content: center;
    margin : 10px 10% 5% ;
    color:rgb(95, 95, 95);
    text-justify : inter-word;
}
@media screen and (max-width: 768px) {
    .accrocheMainTitle{
        display: flex;
        align-items: center;
        text-align: center;
        font-family: 'Fleur De Leah', cursive;
        font-weight: 700;
        font-size: 50px;
        text-shadow:1px 1px 2px rgb(240, 184, 116);
        margin-bottom: 20px;
    }
    .accrocheSubtitle{
        font-size: 18px;
    }
    .accrocheContainer{
        display : flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Crimson Pro', serif;
        font-size: 20px;
        font-weight: bold;
        color:rgb(5, 5, 5);
        background-color:rgba(240, 248, 255, 0.705);
        margin:5% 10%
    }
    .accroche{
        display:flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
    }
    .services{
     flex-wrap: wrap;
     justify-content:space-evenly;
     padding:25px;
     margin-bottom:50px;
        }
        .serviceItem{
            padding:5px;
        }
}