@media screen and (min-width:760px){
  .burgerContainer{
    display: none;
  }
}
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 26px;
  top: 15px;
}

.bm-burger-bars {
  background: #000;
}

/* .bm-menu-wrap {
  visibility: hidden;
}

.bm-menu-wrap.open {
  visibility: visible;
} */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: rgb(95, 95, 95);
  padding: 1.5em 0 0;
  font-size: 1.15em;
 
}

.bm-item-list {
  padding: 0.8em;
}

.bm-item {
  display: block;
  color:rgba(230, 130, 73, 0.877);
}
.bm-menu-wrap{
  display: block!important;
  position:sticky;
  left: 0;
}